.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(79deg, rgb(204, 87, 87), rgb(75, 75, 229) 45%, rgb(195, 195, 34));
}

.error {
  color: red;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  padding: 5px;
}

label {
  width: 100%;
  display: block;
}

input[type="submit"] {
  width: 100%;
  height: 30px;
}

button {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

input::placeholder {
  text-align: center;
}

.auth-form-content {
  border: 2px solid white;
  padding: 1rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
